body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: white; /* BG */
}
.color-blue { color: #007bff; } 
.bg-blue { background-color: #007bff; }
.color-red { color: #dc3545; }
.border-red { border-color: #dc3545; }
.graphic-border { border-width: 4px; }

.lang-jp { display: none; }
.hover-graphic:hover {
    border-color: #000 !important;
    background-color: #f3f4f6;
}

.sharp { border-radius: 0 !important; }

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background-color: black; }
::-webkit-scrollbar-track { background-color: white; }

.video-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; 
    width: 100%;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}